/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/         => Sass extends declarations
 * /mixins/          => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss       => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss     => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _module_name.scss => Styles for a module of functionality (e.g. – modal).
 * _page_name.scss   => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

#content-primary {
  @include outer-container;

  #bio {
    @include span-columns(6);
    @include shift(3);

    p:first-child {
      text-align: center;
    }
  }

  #links {
    @include span-columns(6);
    @include shift(3);

    margin-top: 20px;

    .block {
      @include span-columns(2 of 6);
      text-align: center;
    }
  }

  #title {
    @include media($small-screen) {
      margin: 0 0 50px 0;
      text-align: center;
    }
    color: #B2DF19;
    margin: 150px 0 50px 0;
    text-transform: uppercase;
  }

  .bio-text {
    color: #6E6E6E;
  }
}