/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/         => Sass extends declarations
 * /mixins/          => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss       => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss     => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _module_name.scss => Styles for a module of functionality (e.g. – modal).
 * _page_name.scss   => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

 body {
  font-family: $primary-font;
  padding: 5px;

  a {
      color: $title-green;
      transition: color 0.5s ease;
      &:hover {
        color: $dark-title-green;
      }
    }
 }

.content-primary {
  @include outer-container;
  font-size: 1.2em;

  .bio {
    @include span-columns(6);
    @include shift(3);
    @include media($small-screen){
      @include span-columns(2);
      @include shift(0);
    }

    p:first-child {
      text-align: center;
    }
  }

  .links {
    @include span-columns(6);
    @include shift(3);
    @include media($small-screen){
      @include span-columns(2 of 2);
      @include shift(0);
    }
    margin-top: 50px;

    .block {
      @include span-columns(2 of 6);
      @include media($small-screen) {
        text-align: center;
      }
      text-align: center;
    }

    .twitter {
      margin-top: 3px;
    }
  }

  .title {
    @include media($small-screen) {
      margin: 0 0 50px 0;
      text-align: left;
    }

    color: $title-green;
    margin: 60px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
  }

  .bio-text {
    color: $medium-gray;
  }
}
